.node-list {
  display: flex;
  flex-direction: column;

  &__node {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
  }

  &__node-children {
    margin: 10px 0 10px 10px;
    padding-left: 10px;

    border-left: 1px solid white;
  }
}
